.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.card-item {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card-item img {
  max-width: 100%;
  height: auto;
}

.card-item button {
  position: absolute;
  border: none;
  background-color: transparent;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

